@model IEnumerable<online_sms.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



<div class="main-content side-content pt-0">

	<div class="main-container container-fluid">
		<div class="inner-body">

			<!-- Page Header -->
			<div class="page-header">
				<div>
					<h2 class="main-content-title tx-24 mg-b-5">Welcome To Dashboard</h2>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Project Dashboard</li>
					</ol>
				</div>
				<div class="d-flex">
					<div class="justify-content-center">
						<button type="button" class="btn btn-white btn-icon-text my-2 me-2">
							<i class="fe fe-download me-2"></i> Import
						</button>
						<button type="button" class="btn btn-white btn-icon-text my-2 me-2">
							<i class="fe fe-filter me-2"></i> Filter
						</button>
						<button type="button" class="btn btn-primary my-2 btn-icon-text">
							<i class="fe fe-download-cloud me-2"></i> Download Report
						</button>
					</div>
				</div>
			</div>
			<!-- End Page Header -->
			<!--Row-->
			<div class="row row-sm">
				<div class="col-sm-12 col-lg-12 col-xl-12">

				
					<!--row-->
					<div class="row row-sm">
						<div class="col-sm-12 col-lg-12 col-xl-12">
							<div class="card custom-card overflow-hidden">
								<div class="card-header border-bottom-0">
									<div>
										<label class="main-content-label mb-2">Project Budget</label> <span class="d-block tx-12 mb-0 text-muted">
											The Project Budget is a tool
											used by project managers to estimate the total cost of a
											project
										</span>
									</div>
								</div>
								<div class="card-body ps-0">
									<div class>
										<div class="container">
                                            <div class="table-responsive">
                                            <table class="table table-bordered border-bottom" id="example2">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Username)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Password)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Email)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.MobileNumber)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.VerificationCode)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.IsVerified)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.CreatedAt)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.FirstName)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.LastName)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Gender)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Dob)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Address)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.MaritalStatus)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Hobbies)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Sports)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.ProfilePhoto)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Qualification)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Designation)
                                                        </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Username)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Password)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Email)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.MobileNumber)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.VerificationCode)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.IsVerified)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.CreatedAt)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.FirstName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.LastName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Gender)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Dob)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Address)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.MaritalStatus)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Hobbies)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Sports)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.ProfilePhoto)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Qualification)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Designation)
                                                            </td>
                                                            <td>
                                                                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                                                                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                                                                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                            </div>
										</div>
									</div>
								</div>
							</div>
						</div><!-- col end -->
						
					</div><!-- Row end -->
				</div><!-- col end -->
			
			</div><!-- Row end -->
		</div>
	</div>
</div>
