@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<online_sms.Models.User>

@{
    ViewData["Title"] = "Users List";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Username</th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Address</th>
            <th>Marital Status</th>
            <th>Hobbies</th>
            <th>Sports</th>
            <th>Qualification</th>
            <th>Designation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@user.MobileNumber</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Gender</td>
                <td>@user.Dob?.ToString("yyyy-MM-dd")</td>
                <td>@user.Address</td>
                <td>@user.MaritalStatus</td>
                <td>@user.Hobbies</td>
                <td>@user.Sports</td>
                <td>@user.Qualification</td>
                <td>@user.Designation</td>
            </tr>
        }
    </tbody>
</table>

