
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LandingLayout.cshtml";
}

<style>
    .bottom-shape{
        top:0px !important;

    }</style>
    @model online_sms.Models.ContactU;
<section id="home" class="banner-14 oh  pos-rel" >
    <div class="bottom-shape d-lg-block d-none">
        <img src="~/assets/user/banner-bg-14.jpg" alt="banner">
    </div>
    <div class="container">
        <div class="row align-items-center justify-content-between flex-wrap-reverse">
            <div class="col-lg-6 rtl">
                <img src="~/assets/user/landing/images/banner/banner-15.png" alt="banner" style="width:100%; max-width:600px;">


            </div>
            <div class="col-lg-5" style="position:relative; top:-80px;">
                <div class="banner-content-14 cl-white">
                    <h1 class="title" style="font-size:28px;">Manage Your SMS Marketing</h1>
                    <p class="cate" style="font-size:14px; font-weight:bold;">
                        Instant virtual numbers with real time reporting and capability of a regular phone. Send bulk text messages, or integrate our API into your next project!
                        <span style="display:block; font-size:10px; color:#eee;">119 teams moved to SMS Arc this week</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--============= To Access Section Starts Here =============-->
<section  class="to-access-section padding-top padding-bottom bg_img mb-lg-5" id="feature" >
    <div class="container-fluid" style="background: url('@Url.Content("~/assets/user/landing/images/bg/to-access-bg.png")') no-repeat center center; background-size: cover;">
    <div class="container" >
        <div class="section-header">
            <h5 class="cate">About Us</h5>
            <h2 class="title">TAZA SMS</h2>
            <p>
                SMS Arc allows you to browse and activate virtual numbers all over the world.
                Once you have a number, it can be configured to meet your exact needs.
                Whether you want to forward calls or receive SMS by email, our self serve platform can help you get connected in seconds.
            </p>
        </div>
        <div class="row mb-30 justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="to-access-item">
                    <div class="to-access-thumb">
                        <span class="anime"></span>
                        <div class="thumb">
                            <img src="~/assets/user/img/images/icon/access3.png" alt="SMS Forwarding">
                        </div>
                    </div>
                    <h5 class="title">SMS Forwarding</h5>
                    <a href="docs/sms-forwarding-setup/index-1.htm?fr=home-cta" title="SMS Forwarding">Get Started</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="to-access-item">
                    <div class="to-access-thumb">
                        <span class="anime"></span>
                        <div class="thumb">
                            <img src="~/assets/user/img/images/icon/access1.png" alt="Developer API">
                        </div>
                    </div>
                    <h5 class="title">Developer API</h5>
                    <a href="sms-api/index-1.htm?fr=home-cta" title="SMS API">Get Started</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="to-access-item active">
                    <div class="to-access-thumb">
                        <span class="anime"></span>
                        <div class="thumb">
                            <img src="~/assets/user/img/images/icon/access4.png" alt="SMS">
                        </div>
                    </div>
                    <h5 class="title">Send Bulk SMS</h5>
                    <a href="bulk-sms/index-1.htm?fr=home-cta" title="Send Bulk SMS">Get Started</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="to-access-item">
                    <div class="to-access-thumb">
                        <span class="anime"></span>
                        <div class="thumb">
                            <img src="~/assets/user/img/images/icon/access2.png" alt="SMS Arc">
                        </div>
                    </div>
                    <h5 class="title">Call Forwarding</h5>
                    <a href="docs/toll-free-call-forwarding-setup/index-1.htm?fr=home-cta" title="SMS Forwarding">Get Started</a>
                </div>
            </div>
        </div>
        <div class="group feature_startIntegrating_buttons faster-content text-center">
            <a href="register/index.htm?fr=home" title="Start Using SMS Arc" class="get-button active">Create Free Account</a>
        </div>
    </div>
    </div>

</section>
<!--============= To Access Section Ends Here =============-->
<!--============= How It Works Section Starts Here =============-->
<section id="services" class="work-section bg_img mb-md-95 pb-md-0" >
    <div class="container-fluid" style="background: url('@Url.Content("~/assets/user/landing/images/work/work-bg.jpg")') no-repeat center center; background-size: cover;padding-right:0px;padding-left:0px;">



   


    <div class="oh padding-top pos-rel">
        <div class="top-shape d-none d-lg-block">
            <img src="~/assets/user/landing/images/work/work-shape.png" alt="Simple SMS Marketing">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xl-7">
                    <div class="section-header left-style cl-white">
                        <br><br><h2 class="title">Simple SMS Marketing</h2>
                        <p>Sending promotional texts and announcements is easy with SMS Arc. Send bulk sms with a single button press from any mobile device. SMS marketing just got easier!</p>
                    </div>
                </div>
            </div>
            <div class="work-slider">
                <div class="work-item">
                    <div class="work-thumb">
                        <img src="~/assets/user/landing/images/work/work1.png" alt="Send International SMS">
                    </div>
                    <div class="work-content cl-white">
                        <h3 class="title">Send International SMS</h3>
                        <p>
                            All messages are sent and received instantly, just like with regular text messaging.
                            Having partnered with and supported over 1,800 carriers, SMS Arc makes sure your messages are delivered reliably all over the globe.
                        </p>
                        <a href="bulk-sms/index-2.htm?fr=home-cta2" title="Send Bulk SMS" class="get-button white light">Send Bulk SMS <i class="flaticon-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--============= Advance Feature Section Starts Here =============-->
<section  class="advance-feature-section oh">

    <h2 class="title text-center mt-5 mb-3 ">Services</h2>

    <div class="container">
        <div class="advance-feature-item style-two">
            <div class="advance-feature-thumb">
                <img src="~/assets/user/landing/images/work/advance6.png" alt="SMS Gateway for Developers">
            </div>
            <div class="advance-feature-content">
                <div class="section-header left-style mb-olpo">
                    <h5 class="cate">SMS Gateway for Developers</h5>
                    <h2 class="title">Simple SMS API</h2>
                    <p>
                        Our SMS API allows developers to integrate text messaging capability into their applications and projects.
                        Integrate SMS alerts to send messages when orders are placed, when critical errors are encountered and more.
                    </p>
                </div>
                <a href="sms-api/index-2.htm?fr=home-cta2" title="SMS API" class="get-button">View SMS API <i class="flaticon-right"></i></a><br><br>
            </div>
        </div>
    </div>
</section>


<div id="contact" class="container mt-5 mb-5 ">
    <h2 class="title text-center ">Contact Us</h2>
    <div class="row mt-5 ">
        <div class="col-md-6">
            <div class="advance-feature-thumb">
                <img src="~/assets/user/landing/images/how/h3.png" alt="Contac">
            </div>
        </div>
        <div class="col-md-6">
            <form class="account-form" asp-action="Index">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <input type="text" asp-for="FirstName" placeholder="First Name" />
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
                <div class="form-group">
                    <input type="text" asp-for="LastName" placeholder="Last Name" />
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
                <div class="form-group">
                    <input type="text" asp-for="ContactNumber" placeholder="Contact Number" />
                    @Html.ValidationMessageFor(m => m.ContactNumber)
                </div>
                  <div class="form-group">
                    <input type="email" asp-for="Email" placeholder="Contact Number" />
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="form-group">
                    <textarea asp-for="Message" placeholder="Message"></textarea>
                    @Html.ValidationMessageFor(m => m.Message)
                </div>
                <button>Send</button>
            </form>

        </div>
    </div>

</div>