@{
    Layout = null;
}
@model online_sms.Models.User

<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
	<meta name="description" content="Spruha -  Admin Panel HTML Dashboard Template">
	<meta name="author" content="Spruko Technologies Private Limited">
	<meta name="keywords" content="admin,dashboard,panel,bootstrap admin template,bootstrap dashboard,dashboard,themeforest admin dashboard,themeforest admin,themeforest dashboard,themeforest admin panel,themeforest admin template,themeforest admin dashboard,cool admin,it dashboard,admin design,dash templates,saas dashboard,dmin ui design">

	<link rel="icon" href="../assets/img/brand/favicon.ico" type="image/x-icon" />

	<!-- Title -->
	<title>Spruha - Bootstrap Premium HTML Dashboard Template</title>

	<!-- Bootstrap css-->
	@* <link id="style" href="~/assets/admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> *@

	<!-- Icons css-->
	<link href="~/assets/admin/plugins/web-fonts/icons.css" rel="stylesheet" />
	<link href="~/assets/admin/plugins/web-fonts/font-awesome/font-awesome.min.css" rel="stylesheet">
	<link href="~/assets/admin/plugins/web-fonts/plugin.css" rel="stylesheet" />

	<!-- Style css-->
	<link href="~/assets/admin/css/style.css" rel="stylesheet">

	<!-- Select2 css -->
	<link href="~/assets/admin/plugins/select2/css/select2.min.css" rel="stylesheet">

	<!-- Internal Gallery css-->
	<link href="~/assets/admin/plugins/gallery/gallery.css" rel="stylesheet">

	<style>
		body {
			background: #0e1726 !important;
			color:white !important;
		}

		.table tbody tr {
		background:transparent !important;
		}

		.table > tbody > tr > td, .table > tbody > tr > th {
			color: white !important;
		}
	</style>

</head>



<body class="ltr main-body leftmenu">

	<!-- Loader -->
	<div id="global-loader">
		<img src="../assets/img/loader.svg" class="loader-img" alt="Loader">
	</div>
	<!-- End Loader -->
	<!-- Page -->
	<div class="container-fluid">
		<div class="row p-5">
			<div class="col-md-12">
				<!-- Page Header -->
				<div class="page-header">
					<div>
						<h2 class="main-content-title tx-24 mg-b-5 text-white ">Profile</h2>
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#  " class="text-white" >Pages</a></li>
							<li class="breadcrumb-item active text-white " aria-current="page">Profile</li>
						</ol>
					</div>
					<div class="d-flex">
						<div class="justify-content-center">
							<a asp-action="Index" asp-controller="userdata" class="btn btn-white btn-icon-text my-2 me-2">
								Back To Dashboard
							</a>
						
						</div>
					</div>
				</div>

				<!-- End Page Header -->

				<div class="row square">
					<div class="col-lg-12 col-md-12">
						<div class="card custom-card" style="box-shadow: -7.829px 11.607px 20px 0px #3c4858 !important;background:#0e1726 !important;">
							<div class="card-body">
								@if (ViewBag.UserName != null)
								{
									<div class="panel profile-cover">
										<div class="profile-cover__img">
											<img src="@(string.IsNullOrEmpty(ViewBag.Image) ? Url.Content("~/assets/img/person.png") : ViewBag.Image)"
												 alt="Profile Picture"
												 style="width: 100px; height: 100px; border-radius: 50%;" />
											<h3 class="h3 text-white">@ViewBag.UserName</h3>
										</div>

									</div>
								}
								else
								{
									<p class="btn btn-danger">Profile not found.</p>
								}							
								<div class="profile-cover__action bg-img"></div>								
							</div>

							<br /> <br />
							 
							<div class="profile-tab tab-menu-heading">
								<nav class="nav main-nav-line p-3 tabs-menu profile-nav-line bg-gray-100">
									<a class="nav-link  active" data-bs-toggle="tab" href="#about">About</a>
									<a class="nav-link" data-bs-toggle="tab" href="#edit">Edit Profile</a>								
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>

			
				<div class="col-lg-12 col-md-12">
				<div class="card custom-card main-content-body-profile" style="box-shadow: -7.829px 11.607px 20px 0px #3c4858 !important;background:#0e1726 !important;">
						<div class="tab-content">
							<div class="main-content-body tab-pane p-4 border-top-0 active" id="about">
								<div class="card-body p-0 border p-0 rounded-10">
									<div class="p-4">
										<h4 class="tx-15 text-uppercase mb-3">User Detail</h4>
										
									<div class="col-xl-12">
										<div class="table-responsive">
											<table class="table mb-0 border-top table-bordered text-nowrap">
												<tbody>
													<tr>
														<th scope="row">First Name</th>
														<td>@ViewBag.FirstName</td>
													</tr>
													<tr>
														<th scope="row">Last Name</th>
														<td>@ViewBag.LastName</td>
													</tr>
													<tr>
														<th scope="row">Gender</th>
														<td>@ViewBag.Gender</td>
													</tr>
													<tr>
														<th scope="row">Date Of Birth</th>
														<td>@ViewBag.Dob</td>
													</tr>
													<tr>
														<th scope="row">Address</th>
														<td>@ViewBag.Address</td>
													</tr>
													<tr>
														<th scope="row">Qualification </th>
														<td>@ViewBag.Qualification</td>
													</tr>
													<tr>
														<th scope="row">Designation</th>
														<td>@ViewBag.Designation</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									</div>
									<div class="border-top"></div>
									<div class="p-4">
										<label class="main-content-label tx-13 mg-b-20 text-white">Contact</label>
										<div class="d-sm-flex">
											<div class="mg-sm-r-20 mg-b-10">
												<div class="main-profile-contact-list">
													<div class="media">
														<div class="media-icon bg-primary-transparent text-primary"> <i class="icon ion-md-phone-portrait"></i> </div>
														<div class="media-body">
															<span>Mobile</span>
															<div> @ViewBag.PhoneNum</div>
														</div>
													</div>
												</div>
											</div>
											<div class="mg-sm-r-20 mg-b-10">
												<div class="main-profile-contact-list">
													<div class="media">
														<div class="media-icon bg-success-transparent text-success"> <i class="icon ion-logo-slack"></i> </div>
														<div class="media-body">
															<span>Email</span>
														<div> @ViewBag.Email</div>
														</div>
													</div>
												</div>
											</div>										
										</div>
									</div>
									
								</div>
							</div>
							<div class="main-content-body tab-pane p-4 border-top-0" id="edit">
								<div class="card-body border">
									<div class="mb-4 main-content-label text-white ">Personal Information</div>
									<form asp-action="Profile" enctype="multipart/form-data">
										<div asp-validation-summary="ModelOnly" class="text-danger"></div>
										<input type="hidden" asp-for="UserId" />
										<div class="form-group">
											<label asp-for="Username" class="control-label"></label>
											<input asp-for="Username" class="form-control" />
											<span asp-validation-for="Username" class="text-danger"></span>
										</div>
									
										<div class="form-group">
											<label asp-for="Email" class="control-label"></label>
											<input asp-for="Email" readonly class="form-control" />
											<span asp-validation-for="Email" class="text-danger"></span>
										</div>
										<div class="form-group">
											<label asp-for="MobileNumber" class="control-label"></label>
											<input asp-for="MobileNumber" readonly class="form-control" />
											<span asp-validation-for="MobileNumber" class="text-danger"></span>
										</div>										
										<div class="form-group">
											<label asp-for="FirstName" class="control-label"></label>
											<input asp-for="FirstName" class="form-control" />
											<span asp-validation-for="FirstName" class="text-danger"></span>
										</div>
										<div class="form-group">
											<label asp-for="LastName" class="control-label"></label>
											<input asp-for="LastName" class="form-control" />
											<span asp-validation-for="LastName" class="text-danger"></span>
										</div>
										<div class="form-group">
											<label asp-for="Gender" class="control-label"></label>
											<select asp-for="Gender" class="form-control">
												<option value="">Select Gender</option>
												<option value="Male">Male</option>
												<option value="Female">Female</option>
											</select>
											<span asp-validation-for="Gender" class="text-danger"></span>
										</div>

										<div class="form-group">
											<label asp-for="Dob" class="control-label"></label>
											<input asp-for="Dob" class="form-control" />
											<span asp-validation-for="Dob" class="text-danger"></span>
										</div>
										<div class="form-group">
											<label asp-for="Address" class="control-label"></label>
											<input asp-for="Address" class="form-control" />
											<span asp-validation-for="Address" class="text-danger"></span>
										</div>
										<div class="form-group">
											<label asp-for="MaritalStatus" class="control-label"></label>
											<select asp-for="MaritalStatus" class="form-control">
												<option value="">Select Marital Status</option>
												<option value="Married">Married</option>
												<option value="Single">Single</option>
											</select>
											<span asp-validation-for="MaritalStatus" class="text-danger"></span>
										</div>

										<div class="form-group">
											<label asp-for="Hobbies" class="control-label"></label>
											<input asp-for="Hobbies" class="form-control" />
											<span asp-validation-for="Hobbies" class="text-danger"></span>
										</div>
										<div class="form-group">
											<label asp-for="Sports" class="control-label"></label>
											<input asp-for="Sports" class="form-control" />
											<span asp-validation-for="Sports" class="text-danger"></span>
										</div>
										<div class="form-group">
											<label asp-for="ProfilePhoto" class="control-label"></label>
											<input asp-for="ProfilePhoto" type="file" class="form-control" />
											<span asp-validation-for="ProfilePhoto" class="text-danger"></span>
										</div>
										<div class="form-group">
											<label asp-for="Qualification" class="control-label"></label>
											<input asp-for="Qualification" class="form-control" />
											<span asp-validation-for="Qualification" class="text-danger"></span>
										</div>
										<div class="form-group">
											<label asp-for="Designation" class="control-label"></label>
											<input asp-for="Designation" class="form-control" />
											<span asp-validation-for="Designation" class="text-danger"></span>
										</div>
										<div class="form-group">
											<input type="submit" value="Save" class="btn btn-primary" />
										</div>
									</form>
								</div>
							</div>							
						</div>
					</div>
			
			</div>
		</div>
	</div>
	</div>



	<!-- Jquery js-->
	<script src="~/assets/admin/plugins/jquery/jquery.min.js"></script>

	<!-- Bootstrap js-->
	<script src="~/assets/admin/plugins/bootstrap/js/popper.min.js"></script>
	<script src="~/assets/admin/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- Perfect-scrollbar js -->
	<script src="~/assets/admin/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

	<!-- Internal Gallery js-->
	<script src="~/assets/admin/plugins/gallery/picturefill.js"></script>
	<script src="~/assets/admin/plugins/gallery/lightgallery.js"></script>
	<script src="~/assets/admin/plugins/gallery/lightgallery-1.js"></script>
	<script src="~/assets/admin/plugins/gallery/lg-pager.js"></script>
	<script src="~/assets/admin/plugins/gallery/lg-autoplay.js"></script>
	<script src="~/assets/admin/plugins/gallery/lg-fullscreen.js"></script>
	<script src="~/assets/admin/plugins/gallery/lg-zoom.js"></script>
	<script src="~/assets/admin/plugins/gallery/lg-hash.js"></script>
	<script src="~/assets/admin/plugins/gallery/lg-share.js"></script>

	<!-- Sidemenu js -->
	<script src="~/assets/admin/plugins/sidemenu/sidemenu.js" id="leftmenu"></script>

	<!-- Sidebar js -->
	<script src="~/assets/admin/plugins/sidebar/sidebar.js"></script>

	<!-- Select2 js-->
	<script src="~/assets/admin/plugins/select2/js/select2.min.js"></script>
	<script src="~/assets/admin/js/select2.js"></script>

	<!-- Color Theme js -->
	<script src="~/assets/admin/js/themeColors.js"></script>

	<!-- Sticky js -->
	<script src="~/assets/admin/js/sticky.js"></script>

	<!-- Custom js -->
	<script src="~/assets/admin/js/custom.js"></script>

</body>
</html>
